@import './breakpoints.css';

.shadow {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16);
}

.form-element {
  width: 25%;
  margin: 0.75rem auto;
}

.form-text {
  text-align: center;
}

.card {
  background-color: white;
  padding: 1.25rem;
  border-radius: 2px;
  font-size: 1.3rem;
}

@media (--phone-max-width) {
  .form-element {
    width: 65%;
    margin: 0.5rem auto;
  }
}

