@import './breakpoints.css';

@import url('https://fonts.googleapis.com/css?family=Averia+Serif+Libre');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

.shadow {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16);
}

.form-element {
  width: 25%;
  margin: 0.75rem auto;
}

.form-text {
  text-align: center;
}

.card {
  background-color: white;
  padding: 1.25rem;
  border-radius: 2px;
  font-size: 1.3rem;
  margin: auto 1.5rem;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0;
}

.card-link {
  color: inherit;
  text-decoration: none;
}

.title {
  text-align: center;
  font-family: 'Averia Serif Libre', cursive;
  font-size: 1.75rem;
}

.details {
  color: #b21a27;
  font-family: 'Josefin Sans', sans-serif;
  margin: 1rem 0;
}

.quote {
  font-family: 'Josefin Sans', sans-serif;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
}

@media (--tablet-portrait-max-width) {
  .flex-container {
    margin: 3rem .75rem;
  }
}

@media (--phone-max-width) {
  .form-element {
    width: 65%;
    margin: 0.5rem auto;
  }

  .title {
    font-size: 1.5rem;
  }

  .card {
    padding: .5rem;
    margin: 0;
    font-size: 1.2rem;
  }

  .card-link {
    margin: 0;
  }

  .details {
    margin: .75rem 0;
  }

  .quote {
    text-align: justify;
  }
}

