@import './breakpoints.css';

.shadow {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16);
}

.form-element {
  width: 25%;
  margin: 0.75rem auto;
}

.form-text {
  text-align: center;
}

@media (--phone-max-width) {
  .form-element {
    width: 45%;
    margin: 0.5rem auto;
  }
}

