# npm
node_modules
npm-debug.log

# build artifacts
public/*.js
public/*.ejs
public/assets
webpack-assets.json

# deployment artifacts
deploy
build_packages

# constants
config/constants.json

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
