@import '../../common.css';

.container {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

textarea[placeholder="title"], textarea[placeholder="url"] {
  height: 3em;
}

textarea[placeholder="quote"] {
  height: 19em;
}

.server-message {
  width: 25%;
  height: 1em;
  margin: .25rem auto;
}

.error {
  color: red;
}

.success {
  color: green;
}

@media (--phone-max-width) {
  .server-message {
    width: 65%;
    height: 2em;
  }

  textarea[placeholder="quote"] {
    height: 15em;
  }
}