@import '../../common.css';

.container {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

textarea[placeholder="title"], textarea[placeholder="url"] {
  height: 5em;
}

textarea[placeholder="quote"] {
  height: 30em;
}

.form-element {
  width: 45%;
  margin: 0.75rem auto;
}

.server-message {
  width: 25%;
  height: 1em;
  margin: .25rem auto;
}

.error {
  color: red;
}

.success {
  color: green;
}

@media (--phone-max-width) {
  .form-element {
    width: 85%;
    margin: 0.5rem auto;
  }

  .server-message {
    width: 65%;
    height: 2em;
  }
}