@import '../breakpoints.css';
@import '../common.css';

.about {
  font-family: 'Averia Serif Libre', cursive;
}

.title {
  margin: 3.5rem;
  text-align: center;
  font-size: 1.5rem;
}

.logo-container {
  height: 15rem;
  margin: 0 1.5rem;
}

.logo-main {
  background-repeat: no-repeat,no-repeat;
  background-color: #e7eeed;
  background-blend-mode: color-burn, color-burn;
  height: 100%;
  width: 100%;
  background-position-x: 24rem, -3rem;
  background-position-y: -20rem, -5rem;
  background-size: 70rem, 30rem;
}

.links {
  font-size: 1.25rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.link {
  display: inline;
  margin: 2rem;
  margin-top: 3.5rem;
}

.link a:link {
  color: black;
}

.link a:visited {
  color: black;
}

.bio {
  font-family: 'Josefin Sans', sans-serif;
  text-align: justify;
  font-size: 1.15rem;
}

@media (--tablet-portrait-max-width) {
  .title {
    margin: 2rem;
  }

  .logo-container {
    height: 14rem;
  }

  .logo-main {
    background-position-x: 16rem, -3rem;
    background-position-y: -11rem, 0rem;
    background-size: 45rem, 22rem;
  }

  .links {
    margin-top: 2rem;
  }

  .link {
    margin: 0 1.5rem;
  }

  .bio {
    margin: 2rem 1.5rem;
  }
}

@media (--phone-max-width) {

  .logo-container {
    margin: 0 .75rem;
  }

  .logo-main {
    background-blend-mode: color-burn, lighten;
    background-position-x: 0rem;
    background-position-y: 50%;
    background-size: 125%;
  }

  .links {
    justify-content: space-around;
  }

  .link {
    margin: .5rem;
  }

  .bio {
    margin: 2rem .75rem;
  }
}