container_commands:
  00_update_cache:
    command: "sudo yum update"
  01_install_git:
    command: "sudo yum install git --enablerepo=epel -y"
  02_install_node:
    command: 'su root -c ''curl -o- https://raw.githubusercontent.com/creationix/nvm/v0.32.0/install.sh | bash && export NVM_DIR="/root/.nvm" && [ -s "$NVM_DIR/nvm.sh" ] && . "$NVM_DIR/nvm.sh" && nvm install v0.10.28'''
  03_install_statsd:
    command: "sudo mkdir -p /opt/node_modules && sudo git clone https://github.com/etsy/statsd.git /opt/node_modules/statsd && sudo chmod -R 777 /opt/node_modules/statsd"
    test: "test ! -d /opt/node_modules/statsd"
  04_get_config:
    command: "sudo curl https://s3-us-west-2.amazonaws.com/hankstatsd/cloudwatch-config.js > /opt/node_modules/statsd/cloudwatch-config.js"
  05_get_aws-cloudwatch-statsd-backend:
    command: "/root/.nvm/v0.10.28/bin/npm --prefix /opt/node_modules/statsd/ install aws-cloudwatch-statsd-backend"
  06_update_accesskeyid:
    command: 'sed -i "s/YOUR_ACCESS_KEY_ID/"${metricsAccessKeyID}"/g" /opt/node_modules/statsd/cloudwatch-config.js'
  07_update_secretaccesskey:
    command: 'sed -i "s/YOUR_SECRET_ACCESS_KEY/"${metricsSecretAccessKey}"/g" /opt/node_modules/statsd/cloudwatch-config.js'
  08_update_region:
    command: 'sed -i "s/YOUR_REGION/"${metricsRegion}"/g" /opt/node_modules/statsd/cloudwatch-config.js'
  09_install_init_script:
    command: "sudo curl https://s3-us-west-2.amazonaws.com/hankstatsd/statsd > /etc/init.d/statsd && sudo chmod +x /etc/init.d/statsd"
  10_restart_statsd:
    command: "sudo service statsd restart"