container_commands:
  10_get_serverjs:
    command: "sudo curl -o server.js ${BACKEND_S3_PUBLIC_URL}/`python -c \"import json; json_data = open('package.json'); d = json.load(json_data); print(d['version'])\"`-server.js"
  20_move_serverjs:
    command: "sudo mv server.js /tmp/deployment/application/public/server.js"
  30_get_serverjsmap:
    command: "sudo curl -o server.js.map ${BACKEND_S3_PUBLIC_URL}/`python -c \"import json; json_data = open('package.json'); d = json.load(json_data); print(d['version'])\"`-server.js.map"
  40_move_serverjsmap:
    command: "sudo mv server.js.map /tmp/deployment/application/public/server.js.map"
  50_get_indexejs:
    command: "sudo curl -o index.ejs ${BACKEND_S3_PUBLIC_URL}/`python -c \"import json; json_data = open('package.json'); d = json.load(json_data); print(d['version'])\"`-index.ejs"
  60_move_indexejs:
    command: "sudo mv index.ejs /tmp/deployment/application/public/index.ejs"