container_commands:
  01_get_serverjs:
    command: "sudo curl -o server.js https://s3-us-west-2.amazonaws.com/assets.dslama.net/server.js && mkdir /var/app/current/public && mv server.js /var/app/current/public/server.js"
  02_get_serverjsmap:
    command: "sudo curl -o server.js.map https://s3-us-west-2.amazonaws.com/assets.dslama.net/server.js.map && mkdir /var/app/current/public && mv server.js.map /var/app/current/public/server.js.map"
  03_get_indexejs:
    command: "sudo curl -o index.ejs https://s3-us-west-2.amazonaws.com/assets.dslama.net/index.ejs && mkdir /var/app/current/public && mv index.ejs /var/app/current/public/index.ejs"