container_commands:
  05_make_public_dir:
    command: "sudo mkdir /tmp/deployment/application/public"
  10_get_serverjs:
    command: "sudo curl -o server.js https://${S3_PUBLIC_DOMAIN}/${BACKEND_S3_ASSETS_BUCKET}/`python -c \"import json; json_data = open('package.json'); d = json.load(json_data); print(d['version'])\"`-server.js"
  20_move_serverjs:
    command: "sudo mv server.js /tmp/deployment/application/public/server.js"
  30_get_serverjsmap:
    command: "sudo curl -o server.js.map https://${S3_PUBLIC_DOMAIN}/${BACKEND_S3_ASSETS_BUCKET}/`python -c \"import json; json_data = open('package.json'); d = json.load(json_data); print(d['version'])\"`-server.js.map"
  40_move_serverjsmap:
    command: "sudo mv server.js.map /tmp/deployment/application/public/server.js.map"
  50_get_indexejs:
    command: "sudo curl -o index.ejs https://${S3_PUBLIC_DOMAIN}/${BACKEND_S3_ASSETS_BUCKET}/`python -c \"import json; json_data = open('package.json'); d = json.load(json_data); print(d['version'])\"`-index.ejs"
  60_move_indexejs:
    command: "sudo mv index.ejs /tmp/deployment/application/public/index.ejs"