@import '../breakpoints.css';
@import '../common.css';

@import url('https://fonts.googleapis.com/css?family=Averia+Serif+Libre');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

.flex-container {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.link {
  color: inherit;
  text-decoration: none;
  margin: auto 0;
}

.card {
  background-color: white;
  padding: .5rem 1rem;
  width: 45rem;
  margin: auto 0;
}

.title {
  text-align: center;
  font-family: 'Averia Serif Libre', cursive;
  font-size: 1.5rem;
}

.author {
  color: #b21a27;
  font-family: 'Josefin Sans', sans-serif;
  margin: .5rem 0;
}

.quote {
  font-family: 'Josefin Sans', sans-serif;
}

.image {
  order: 1;
}

.image img {
  height: 15rem;
}

@media (--phone-max-width) {
  .image {
    display: none;
  }

  .card {
    padding: 0;
    width: 100%;
    margin: 0;
  }

  .author {
    margin: 0;
    padding: .5rem;
  }

  .quote {
    padding: .5rem;
    text-align: justify;
  }


}