@import '../../breakpoints.css';
@import '../../common.css';

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

.outer-container {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.25rem;
  background-color: #004741;
  color: white;
  border-radius: 2px;
}

.middle-container {
  display: flex;
  justify-content: space-between;
  padding: .4rem .2rem 0;
  cursor: default;
}

.inner-container {
  display: flex;
  justify-content: flex-end;
  padding-right: .55rem;
}

.link {
  margin-left: 2rem;
  padding: .45rem .2rem .1rem;
  color: white;
  cursor: pointer;
  font-size: 1.8rem;
}

.active {
  text-decoration: underline;
}

@media (--tablet-portrait-max-width) {
  .outer-container {
    margin-top: 0;
    border-radius: 0;
  }

  .link {
    margin-left: .8rem;
  }

  .inner-container {
    margin-left: 1rem;
  }
}

@media (--phone-max-width) {
  .middle-container {
    padding: 0;
  }

  .outer-container {
    margin-top: 0;
    flex-direction: column;
    padding: .5rem .2rem 0;
  }

  .inner-container {
    display: none;
    flex-direction: column;
  }

  .mobile {
    display: inline;
  }

  .link {
    display: block;
    text-align: right;
    padding-right: 1.25rem;
    font-size: 1.75rem;
    border-top: 1px solid #002e2a;
    margin: 0;
  }

  .show {
    display: inline;
  }
}