@import '../../breakpoints.css';

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

.outer-container {
  display: flex;
  justify-content: space-between;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.25rem;
  background-color: #004741;
  color: white;
}

.mobile {
  display: none;
}

.middle-container {
  display: flex;
  justify-content: space-between;
  padding: .4rem .2rem .1rem;
}

.inner-container {
  display: flex;
  justify-content: flex-end;
}

.link {
  margin-left: 2rem;
  padding: .4rem .2rem .1rem;
}

.link a {
  text-decoration: none;
  color: white;
}

.active {
  text-decoration: underline;
}

@media (--phone-max-width) {
  .outer-container {
    flex-direction: column;
  }

  .inner-container {
    display: none;
    flex-direction: column;
  }

  .mobile {
    display: inline;
  }

  .link {
    display: block;
  }

  .show {
    display: inline;
  }
}
