@import '../breakpoints.css';

.container {
  padding: 0 1.5%;
  background-color: #e7eeed;
  position: absolute;
  min-height: 100%;
  left: 12%;
  right: 12%;
}

.footer-container {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  padding: 5rem 0 3rem;
  color: rgba(0, 0, 0, .4);
  font-size: .75rem;
  text-align: center;
}

.footer-link {
  color: inherit;
}

@media (--tablet-portrait-max-width) {
  .container {
    padding: 0;
    left: 0;
    right: 0;
  }

  .footer-container {
    padding: 1rem .75rem 3rem;
  }
}

