@import '../breakpoints.css';

.container {
  padding: 1% 1.5%;
  background-color: #e7eeed;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 12%;
  right: 12%;
}

@media (--tablet-landscape-max-width) {
  .container {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}