@import '../breakpoints.css';

.container {
  width: 80%;
  margin: auto;
  height: 100vh;
  background-color: #e7eeed;
}

@media (--tablet-landscape-max-width) {
  .container {
    width: 100%;
  }
}

@media (--phone-max-width) {
  .container {
    width: 100%;
  }
}