@import url('https://fonts.googleapis.com/css?family=Handlee');

.outer-container {
  display: flex;
  justify-content: space-between;
  font-family: Handlee;
  font-size: 2.25rem;
  background-color: #5b6b7c;
}

.mobile {
  display: none;
}

.middle-container {
  display: flex;
  justify-content: space-between;
}

.inner-container {
  display: flex;
  justify-content: flex-end;
}

.link {
  margin-left: 2rem;
}

.link a {
  text-decoration: none;
}

@media (max-width: 800px) {
  .outer-container {
    flex-direction: column;
  }

  .inner-container {
    display: none;
    flex-direction: column;
  }

  .mobile {
    display: inline;
  }

  .link {
    display: block;
  }

  .show {
    display: inline;
  }
}
