<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charSet="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-102204193-1', 'auto');
      ga('send', 'pageview');

    </script>
    <style>
    .base {
      margin: 0;
    }

    pre {
      white-space: pre-wrap;       /* css-3 */
      white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
      white-space: -pre-wrap;      /* Opera 4-6 */
      white-space: -o-pre-wrap;    /* Opera 7 */
      word-wrap: break-word;       /* Internet Explorer 5.5+ */
    }
    </style>
    <%= htmlWebpackPlugin.options.styleTags %>
    <%= htmlWebpackPlugin.options.sentryCDN %>
    <script>
    window.__INITIAL_STATE__ = <%= htmlWebpackPlugin.options.initialState %>;
    </script>
  </head>
  <body class="base">
    <div id="app-mount">
      <%= htmlWebpackPlugin.options.markupTarget %>
    </div>
  </body>
</html>