<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charSet="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
    .base {
      margin: 0;
    }
    </style>
    <%= htmlWebpackPlugin.options.sentryCDN %>
  </head>
  <body class="base">
    <div id="app-mount">
      <%= htmlWebpackPlugin.options.markupTarget %>
    </div>
  </body>
</html>